body {
    overflow: hidden;
}

/* .top-nav {
    width: 100%;
    position: fixed;
    background-color: #000;
    height: 47px;
    display: flex;
    padding-left: 1%;
    align-items: center;
} */

.content-wrapper {
    width: 100%;
    left: 0;
}

.sidebar {
    display: none;
}

.course-section {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background: #16171b;
    height: calc(100vh - 5%);
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.course-section .description {
    width: 40%;
    height: 100%;
    color: #fff;
    border-radius: 8px;
    padding: 16px;
}

.course-section .description .title {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}

.editor {
    background-color: #fff;
    width: 59%;
    height: fit-content;
}

.editor .top-panel {
    background-color:brown;
    display: flex;
    height: 45px;
    align-items: center;
}

.editor .top-panel .filename {
    margin-right: 1rem;
}


.hide {
    display: none !important;
}
.course-section::-webkit-scrollbar {
    display: none;
}

.terminal::-webkit-scrollbar {
    width: 5px;
}

