@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #262626;
    color: #fff;
} 


.sidebar:hover {
    width: 12%;
    /* transition-delay: .5s; */
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 3%;
    background-color: #262626;
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 1;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo_container {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;

}

.sidebar .logo_container i {
    font-size: 28px;
    font-weight: 500;
    min-width: 60px;
    text-align: center;
    color: #FFF;
}

.sidebar .logo_container .logo_name {
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    margin-left: 8px;
    white-space: nowrap;
}

.sidebar .nav-links {
    margin-top: 16px;
    /* background-color: red; */
    height: 100%;
}

.sidebar .nav-links li {
    height: 6.36%;
    width: 100%;
    list-style: none;
}

.sidebar .nav-links li:last-child {
    position: absolute;
    bottom: 0;
}

.sidebar .nav-links li a:hover {
    background-color:#e50914;
}

.sidebar .nav-links li a {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.1 all ease;
    white-space: nowrap;
}

.sidebar .nav-links li a i {
    /* background-color: red; */
    text-align: center;
    min-width:60px;
    font-size: 24px;
    color: #FFF;
}

.sidebar .nav-links li a .link_name {
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
}

/* home - section  */
.content-wrapper {
    position: relative;
    min-height: 100vh;
    left: 3%;
    /* background-color: red; */
    width: 97%;
    transition: all 0.5s ease;
}
/* 
.sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
}
.home-section nav {
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid
}

.home-section nav .sidebar-button {
    cursor: pointer;
    font-size: 22px;
} */

/* .home-section nav .sidebar-button .dashboard {
    margin-left: 8px;
} */


