<link rel="stylesheet" href="/codeDojo/css/course_list.css">

<script>
    loadScript("course_list.js");
</script>
<div class="course-title">
    <h2>Java Essentials: Learn the Basics Quickly</h2>
</div>

<div class="progress">
    <h3>Progress</h3>
    <div class="pb-legend">
        <div class="lesson-name">Lesson 1: Fundamentals</div>
        <div class="percentage">20%</div>
    </div>
    <div class="progress-bar">
        <div class="bar"></div>
    </div>
    <div class="completed-status">
        2/10 completed
    </div>
</div>

<div class="course-list-wrapper">
    <div class="module-name">Lesson 1: Intro to strings</div>
    <!-- <div class="course-card">
        <div class="icon">
            <i class="fi fi-rs-lock"></i>
        </div>
        <div class="course-details">
            <span class="title">Basics of Strings</span>
            <span class="desc">Java Strings. Strings are used for storing text. A String variable contains a
                collection of characters surrounded by double quotes.</span>
        </div>
        <div class="course-button">Continue</div>
    </div> -->
    <course-card status="-1" title="Basics of Strings" desc="Java Strings. Strings are used for storing text. A String variable contains a
    collection of characters surrounded by double quotes."></course-card>

    <course-card status="1" title="Basics of Strings" desc="Java Strings. Strings are used for storing text. A String variable contains a
    collection of characters surrounded by double quotes."></course-card>
</div>

