<link rel="stylesheet" href="/codeDojo/css/course.css">
<div class="top-nav">
    <p>Java Course</p>
</div>
<div class="course-section">
    <div class="description">
        <div class="title">
            <h2>The title goes here</h2>
        </div>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, voluptate. Modi ab impedit corporis
            excepturi repellendus ratione porro, tempora iste quod nulla aperiam hic, nesciunt possimus facere atque
            molestias numquam!
        </p>

        <!-- <zero-md>
             Write your markdown inside a `<script type="text/markdown">` tag 
            <script type="text/markdown">
              # **This** is my [markdown](https://example.com)
            </script>
          </zero-md> -->
    </div>
    <div class="editor">
        <div class="top-panel">
            <div class="filename">Main.java</div>
            <button class="upload-file">Upload file</button>
        </div>
        <div id="editor-container">
        </div>
        <!-- <div class="submit-area">
            <span id="result" class="hide"><span id="count">2/5</span> Test cases failed :( </span>
            <button id="next" class="hide">next</button>
            <button id="submit">submit</button>
        </div>
        <div class="result-area hide">
            <div class="msg hide">
                please submit your code to get result.
            </div>
            <div class="left">
                <h3>Testcases</h3>
                <div class="testcase-container ">
                    <div class="testcase">
                        <i></i>
                        <h3>Test Case 0</h3>
                    </div>
                </div>
            </div>
            <div class="right ">
                <fieldset class="compiler-message">
                    <legend>Compiler message</legend>
                    <div class="content">
                        <span>answer</span>
                    </div>
                </fieldset>

                <fieldset class="input">
                    <legend>Input</legend>
                    <div class="content">
                        <span>Hello jaava</span>
                    </div>
                </fieldset>

                <fieldset class="expected-output">
                    <legend>Expected output</legend>
                    <div class="content">
                        <span>tset</span>
                    </div>
                </fieldset>

            </div> -->
        </div>
    </div>
</div>
<script>
    loadScript("course.js");
</script>
