<div class="left-sec">
    <div class="welcome-box br">
        <h1 class="h1">Hello Buddy, <span id="name"></span></h1>
        <h4 class="h4">Good to see you again.</h4>
    </div>
    <div class="course-progress-box br"></div>
    <div class="leader-board br"></div>
</div>
<div class="right-sec">
    <div class="profile-box br">
        <div class="gap br"></div>
        <div class="profile-icon br"></div>
    </div>
    <div class="progress">
        <div class="quiz-progress br">
            <div class="prog">
                <span id="quiz-prog">0%</span>
                <h4>Quizzes</h4>
            </div>
        </div>
        <div class="daily-streak br">
            <div class="prog">
                <span id="daily-streak">0</span>
                <h4>Daily Streak</h4>
            </div>
        </div>
    </div>

    <div class="announcement br"></div>
    <div class="daily-tip br"></div>
</div>
</div>