<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="outer">
    <section class="left-nav"></section>
    
    <section class="wrapper">
        
        <div class="left-sec">
            <div class="welcome-box br"></div>
            <div class="course-progress-box br"></div>
            <div class="leader-board br"></div>
        </div>
        <div class="right-sec">
            <div class="profile-box br">
                <div class="gap br"></div>
                <div class="profile-icon br"></div>
            </div>
            <div class="progress"> 
                <div class="quiz-progress br"></div>
            <div class="daily-streak br"></div>
            </div>
            
            <div class="announcement br"></div>
            <div class="daily-tip br"></div>
        </div>
    </section>
</section>
    
</body>
<script src="script.js"></script>
</html>