<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" id="login-form">
        <label for="username">Enter username: </label>
        <input type="text" name="username" placeholder="Enter username"><br><br>
        <label for="password">Enter password: </label>
        <input type="password" name="password" id="passwd" placeholder="Enter password">

        <input type="submit" value="login">
    </form>
</body>
<script src="/codeDojo/js/doLogin.js"></script>
<script src="/codeDojo/js/script.js"></script>
</html>