<link rel="stylesheet" href="/codeDojo/css/quizzes.css">
<section class="section-wrapper">
    
        <!-- <div class="completion-card">
            <h1 class="completion-text">Quiz completed!</h1>
            <img src="/codeDojo/img/slash.png" alt="satoshi apple slice" srcset="" style="width: 350px;margin: 60px 0;">

            <div class="quiz-info">
                <h2 class="quiz-title-completed">Strings Recap</h2 >
                <div class="quiz-pub-date">
                    <i class="fa-solid fa-clock"></i>
                    <span class="date-val">Mar 22</span>
                </div>
                <div class="completion-status fail">
                    FAIL
                </div>
            </div>
            <p class="correct-count">Score: <span class="correct-val">3</span> / <span class="total-questions">10</span></p>

            <div class="button">Try Again</div>
        </div> -->

    <div class="quizlist">

    </div>

</section>

<script>
    loadScript("quizzes.js");
</script>