<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/codeDojo/css/style.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/38d6e9bf1b.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="wrapper">
        <div class="left-nav">
            <ul class="ul">
                <li>
                    <a href="/codeDojo/u/quiz" class="links"><img src="/codeDojo/img/quiz.png" alt="quiz icon" style="width: 40px;"></a>
                </li>
            </ul>
        </div>

        <div class="content-wrapper"></div>
    </section>
</body>
<script src="/codeDojo/js/script.js"></script>
<script src="/codeDojo/js/dashboard.js"></script>
</html>